<h2>Archive</h2>
<h3>Pages</h3>
<ul class="archive-list">
  <% @pages.search("no", "blog_post").each do |page| %>
    <% next if page['hide_from_archive'] %>
    <li><a href="<%= page.html_path %>"><%= page['title'] %></a></li>
  <% end %>
  <li><a href="/tags.html">All Tags</a></li>
</ul>
<h3>Blog Posts</h3>
<ul class="archive-list">
  <% @archive_pages.each do |page| %>
  <li><span class="date fixed-width"><%= page.date.strftime('%Y-%m-%d') %> &raquo;</span> <a href="<%= page.html_path %>"><%= page['title'] %></a></li>
  <% end %>
</ul>
