<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//ssl.google-analytics.com" />
    <link rel="dns-prefetch" href="//d2s7foagexgnc2.cloudfront.net" />
    <link rel="dns-prefetch" href="//themes.googleusercontent.com" />
    <link rel="dns-prefetch" href="//js.stripe.com" />
    <link rel="dns-prefetch" href="//api.stripe.com" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="dns-prefetch" href="//themes.googleusercontent.com" />
    <link rel="dns-prefetch" href="//sales.petekeen.net" />
    <meta name="viewport" content="width=700 initial-scale=0.75">
    <meta property="og:image" content="http://d2s7foagexgnc2.cloudfront.net/files/81d98f119fcd71593dd1/mmp-cover-square.png" />
    <meta property="og:title" content="Mastering Modern Payments: Using Stripe with Rails" />
    <meta property="og:description" content="A concise ebook packed with helpful tips and juicy best practices for integrating Stripe into your Rails application." />
    <meta property="og:type" content="book" />
    <meta name="twitter:card" content="product" />
    <meta name="twitter:title" content="Mastering Modern Payments: Using Stripe with Rails" />
    <meta name="twitter:description" content="A concise ebook packed with helpful tips and juicy best practices for integrating Stripe into your Rails application." />
    <meta name="twitter:image" content="http://d2s7foagexgnc2.cloudfront.net/files/81d98f119fcd71593dd1/mmp-cover-square.png" />
    <meta name="twitter:data1" content="$29.00" />
    <meta name="twitter:label1" content="Price" />
    <meta name="twitter:data2" content="HTML, PDF, Mobi, ePub" />
    <meta name="twitter:label2" content="Formats" />
    <meta name="twitter:site" content="@zrail" />
    <meta name="twitter:creator" content="@zrail" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" type="text/css" />
    <script type="text/javascript" src="<%= javascript_path 'gz_test' %>.gz"></script>
    <script type="text/javascript">
      function downloadCSS(path, media) {
        var element = document.createElement("link");
        element.rel = "stylesheet";
        element.type = "text/css";
        element.media = media;
        var elementPath = path;
        if (window.gzEnabled)
          elementPath = elementPath + ".gz";
        element.href = elementPath;
        document.head.appendChild(element);
      }
      downloadCSS("<%= stylesheet_path 'application' %>", "screen");
      downloadCSS("<%= stylesheet_path 'print' %>", "print");

      function downloadJSAtOnload() {
        var element = document.createElement("script");
        var elementPath = "<%= javascript_path 'application' %>"
        if (window.gzEnabled)
          elementPath = elementPath + ".gz";
        element.src = elementPath;
        document.body.appendChild(element);
      }
      if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
      else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
      else window.onload = downloadJSAtOnload;
    </script>    
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome-ie7.min.css" type="text/css"/>
    <![endif]-->
    <link rel="alternate" type="application/atom+xml" href="/index.xml" /> 
    <link rel=”icon” href="<%= image_path('favicon.ico') %>" />
    <link rel="apple-touch-icon" href="<%= image_path "bugsplat-48.png" %>" />
    <meta name="google-site-verification" content="TrfmxNXy4NvuQkn-ijPJ6suggiCgRHNVYEKfUT3oB7I" />
    <meta name="description" content="A concise ebook packed with helpful tips and juicy best practices for integrating Stripe into your Rails application." />
    <% if production? %>
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("e9f4d8ff804462ecc432e221befc36a2");</script><!-- end Mixpanel -->
    <% end %>
  </head>
  <body class="book">
    <div class="container container-narrow" style="position: relative">
	  <div id="content">
        <%= yield %>
	  </div>
    </div>
    <footer>
      <ul class="nav-links">
	    <li>&copy; <a href="/">Pete Keen</a></li>
        <li><a href="https://github.com/peterkeen" data-original-title="Github" class="tip"><i class="fa fa-github"></i></a></li>
        <li><a href="http://www.linkedin.com/in/peterkeen" data-original-title="LinkedIn" class="tip"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="http://twitter.com/zrail" data-original-title="Twitter" class="tip"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://plus.google.com/+PeteKeen?rel=author" data-original-title="Google+" class="tip"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="mailto:pete@bugsplat.info" data-original-title="Email" class="tip"><i class="fa fa-envelope"></i></a></li>
        <li><a href="/index.xml" data-original-title="Subscribe to Feed" class="tip"><i class="fa fa-rss"></i></a></li>
      </ul>
    </footer>
    <% if production? %>
      <% if showing_mmp? %>
        <script type="text/javascript">
          setTimeout(function() {
            mixpanel.track("Viewed MMP");
          }, 1000);
        </script>
        <script type="text/javascript">
          (function() {
            window._pa = window._pa || {};
            var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
            pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/52b08162fa50df42040000b9.js";
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
          })();
        </script>
      <% end %>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5663087-2']);
    _gaq.push(['_setDomainName', 'petekeen.net']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])",15000);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script type="text/javascript" src="https://tracker.petekeen.net/track.js"></script>
    <% end %>
  </body>
</html>
