<div class="entry">
  <h1><a href="<%= @page.html_path %>"><%= @page['title'] %></a></h1>
  <% if @page.date %>
  <p class="date"><%= @page.natural_date %></p>
  <% end %>
  <%= @page.render %>
  <% if @page.is_blog_post? %>
  <% @post_url = "http%3A%2F%2Fpkn.me/#{@page['id']}" %>
  <p class="date" style="margin-top: 1em; margin-bottom: 1em;">
    Share:&nbsp;
    <a href="https://plus.google.com/share?url=<%= @post_url %>"><i class="icon-google-plus"></i></a>&nbsp;
    <a href="https://facebook.com/sharer.php?u=<%= @post_url %>"><i class="icon-facebook"></i></a>&nbsp;
    <a href="https://twitter.com/intent/tweet?url=<%= @post_url %>&text=<%= @page['title'] %>&via=zrail"><i class="icon-twitter"></i></a>&nbsp;
    <a style="font-family: 'Lato', helvetica, arial, sans-serif;" href="https://news.ycombinator.com/submitlink?u=http%3A%2F%2Fwww.petekeen.net<%= @page.html_path %>&t=<%= @page['title'] %>">Y</a>&nbsp;
  </p>
  <% end %>
  <% if @page.show_upsell? %>
  <div class="well">
    <a href="/mastering-modern-payments"><img style="float: right; height: 100px; margin-left: 20px; margin-right: 5px; padding-top: 60px;" src="https://d2s7foagexgnc2.cloudfront.net/files/9e8485ea8977967c7fe7/paperbacklandscape-1.png" /></a>
    <h4><a href="/mastering-modern-payments">Mastering Modern Payments: Using Stripe with Rails</a></h4>
    <p>Check out my guide on how to properly integrate Stripe with Ruby on Rails, covering background processing, audit trails, admin pages and more.</p>
    <a href="/mastering-modern-payments" class="btn btn-primary btn-large">Find out more</a>
  </div>
  <% end %>
  <div class="well" id="tags-and-formats">
  <div class="formats pull-right">
    <span class="date">Other Formats:&nbsp;</span>
    <a rel="nofollow" href="<%= @page.pdf_path %>"><img alt="Download PDF" src="https://d2s7foagexgnc2.cloudfront.net/files/7d44797a6ac52e7fb898/pdf.png"></img></a>
    <a rel="nofollow" href="<%= @page.markdown_path %>"><img alt="Download Raw Markdown" src="https://d2s7foagexgnc2.cloudfront.net/files/4fb4d0b0a7a0bb33a2e0/markdown.png"></img></a>
  </div>
  <% if @page.tags.length > 0 %>
  <p class="date">Tagged: <% @page.tags.each do |tag| %>
  <a href="/tag/<%= tag %>"><%= tag %></a>&nbsp;
  <% end %>
  </p>
  <% end %>

  <% if @page.is_blog_post? && has_related_posts(@page) %>
  <p>
    <h4>Related Posts</h4>
    <ul class="archive-list">
      <% related_posts(@page).each do |page| %>
        <li><span class="date fixed-width"><%= page.date.strftime('%Y-%m-%d') %> &raquo;</span> <a href="<%= page.html_path %>"><%= page['title'] %></a></li>      
      <% end %>
    </ul>
  </p>
  <% end %>
</div>
