<div class="entry">
  <h2><a href="<%= @page.html_path %>"><%= @page['title'] %></a></h2>
  <% if @page.date %>
  <p class="date"><%= @page.natural_date %></p>
  <% end %>
  <%= @page.render %>
  <div class="date pull-right">
    <a href="<%= @page.pdf_path %>"><img alt="Download PDF" src="/pdf.png"></img></a>
    <a href="<%= @page.docx_path %>"><img alt="Download Word Doc" src="/doc.png"></img></a>
    <a href="<%= @page.markdown_path %>"><img alt="Download Raw Markdown" src="/markdown.png"></img></a>
  </div>  
  <% if @page.tags.length > 0 %>
  <p class="date">Tagged: <% @page.tags.each do |tag| %>
  <a href="/tag/<%= tag %>"><%= tag %></a>&nbsp;
  <% end %>
  </p>
  <% end %>


</div>
<% if @page.is_blog_post? %>
<div id="disqus_thread"></div>
<script type="text/javascript">
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://bugsplat.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=bugsplat">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<% end %>
