<div class="entry">
  <h2><a href="<%= @page.html_path %>"><%= @page['title'] %></a></h2>
  <% if @page.date %>
  <p class="date"><%= @page.natural_date %></p>
  <% end %>
  <%= @page.render %>
  <% if @page.show_upsell? %>
  <div class="well">
    <img style="float: right; margin-left: 20px;" src="http://files.bugsplatcdn.com/files/e1aa9b6c8960a1012ce2/stripe_rails.png">
    <h4><a href="/mastering-modern-payments">Mastering Modern Payments: Using Stripe with Rails</a></h4>
    <p>I'm writing a guide about how to properly integrate Stripe with Ruby on Rails, covering background processing, audit trails, admin pages and more.</p>
    <a href="/mastering-modern-payments" class="btn btn-primary btn-large">Find out more</a>
  </div>
  <% end %>
  <div class="well">
  <div class="formats pull-right">
    <a rel="nofollow" href="<%= @page.pdf_path %>"><img alt="Download PDF" src="<%= url_for_asset('/img/pdf.png') %>"></img></a>
    <a rel="nofollow" href="<%= @page.docx_path %>"><img alt="Download Word Doc" src="<%= url_for_asset('/img/doc.png') %>"></img></a>
    <a rel="nofollow" href="<%= @page.markdown_path %>"><img alt="Download Raw Markdown" src="<%= url_for_asset('/img/markdown.png') %>"></img></a>
  </div>
  <% if @page.tags.length > 0 %>
  <p class="date">Tagged: <% @page.tags.each do |tag| %>
  <a href="/tag/<%= tag %>.html"><%= tag %></a>&nbsp;
  <% end %>
  </p>
  <% end %>

  <% if @page.is_blog_post? && has_related_posts(@page) %>
  <p>
    <h4>Related Posts</h4>
    <ul class="archive-list">
      <% related_posts(@page).each do |page| %>
        <li><span class="date fixed-width"><%= page.date.strftime('%Y-%m-%d') %> &raquo;</span> <a href="<%= page.html_path %>"><%= page['title'] %></a></li>      
      <% end %>
    </ul>
  </p>
  <% end %>
</div>
