<div class="entry">
  <h2><a href="<%= @page.html_path %>"><%= @page['title'] %></a></h2>
  <% if @page.date %>
  <p class="date"><%= @page.natural_date %></p>
  <% end %>
  <%= @page.render %>
  <div class="date pull-right">
    <a rel="nofollow" href="<%= @page.pdf_path %>"><img alt="Download PDF" src="/img/pdf.png"></img></a>
    <a rel="nofollow" href="<%= @page.docx_path %>"><img alt="Download Word Doc" src="/img/doc.png"></img></a>
    <a rel="nofollow" href="<%= @page.markdown_path %>"><img alt="Download Raw Markdown" src="/img/markdown.png"></img></a>
  </div>  
  <% if @page.tags.length > 0 %>
  <p class="date">Tagged: <% @page.tags.each do |tag| %>
  <a href="/tag/<%= tag %>.html"><%= tag %></a>&nbsp;
  <% end %>
  </p>
  <% end %>

  <% if @page.is_blog_post? && has_related_posts(@page) %>
  <p>Related posts:</p>
  <ul class="archive-list">
    <% related_posts(@page).each do |page| %>
    <li><span class="date fixed-width"><%= page.date.strftime('%Y-%m-%d') %> &raquo;</span> <a href="<%= page.html_path %>"><%= page['title'] %></a></li>      
    <% end %>
  </ul>
  <% end %>

</div>
