<div class="entry">
  <h1><a href="<%= @page.html_path %>"><%= @page['title'] %></a></h1>
  <% if @page.is_blog_post? %>
  <div class="top-metadata">
    <p class="date pull-right">
      <%= render :erb, :share_links, layout: false %>
    </p>
    <p class="date"><%= @page.reading_time %> min read</p>
  </div>
  <% end %>
  <%= @page.render %>
  <% if @page.is_blog_post? %>
  <p class="date" style="margin-top: 1em; margin-bottom: 1em;">
    Share:&nbsp;
    <%= render :erb, :share_links, layout: false %>
  </p>
  <% end %>
  <% if @page.show_upsell? %>
    <h2>If you liked this you should see what's in the book</h2>
    <div class="row">
      <div class="span3">
        <div style="float: right; height: 200px; padding-top: 1em; padding-bottom: 2em; text-align: center; margin-left: 1.5em;">
          <a href="/mastering-modern-payments"><img src="https://d2s7foagexgnc2.cloudfront.net/files/9e8485ea8977967c7fe7/paperbacklandscape-1.png" alt="Mastering Modern Payments Cover" /></a>
        </div>
      </div>
      <div class="span4" style="margin-left: 3em">
        <p>
          Stop wasting time searching for answers on old blog posts and Q&A sites. Build a fast, reliable payment integration.
        </p>
        <p>Get a free chapter of <strong><a href="https://www.petekeen.net/mastering-modern-payments">Mastering Modern Payments: Using Stripe with Rails</a></strong> on how to make your app remember everything that happens with your payments.</p>
      </div>
    </div>
    <div class="center" style="margin-bottom: 3em">
      <form action="/subscribe" method="POST" class="form form-inline" style="margin-top: 1em;">
        <input type="email" class="sans" style="font-size: 17.5px; height: 36px; width: 20em; line-height: 22px;" name="email" placeholder="you@example.com"></input>
        <input type="hidden" name="next" value="/confirmed"></input>
        <input class="btn btn-primary btn-large" type="submit" value="Get Your Free Chapter" />
      </form>
      <small>We won't send you spam. Unsubscribe at any time.</small>
    </div>
    <% if production? %>
      <script type="text/javascript">
        (function() {
          window._pa = window._pa || {};
          var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
          pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/52b08162fa50df42040000b9.js";
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
        })();
      </script>
    <% end %>
  <% end %>
  <div class="well" id="tags-and-formats">
  <div class="formats pull-right">
    <span class="date">Other Formats:&nbsp;</span>
    <a rel="nofollow" href="<%= @page.pdf_path %>"><img alt="Download PDF" src="https://d2s7foagexgnc2.cloudfront.net/files/7d44797a6ac52e7fb898/pdf.png"></img></a>
    <a rel="nofollow" href="<%= @page.markdown_path %>"><img alt="Download Raw Markdown" src="https://d2s7foagexgnc2.cloudfront.net/files/4fb4d0b0a7a0bb33a2e0/markdown.png"></img></a>
  </div>
  <p class="date">
    <% if @page.date %>
      <%= @page.short_date %>&nbsp;&nbsp;
    <% end %>
    <% if @page.tags.length > 0 %>
      Tagged:
      <% @page.tags.each do |tag| %>
        <a href="/tag/<%= tag %>"><%= tag %></a>&nbsp;
      <% end %>
    <% end %>
  </p>
  <% if @page.is_blog_post? && has_related_posts(@page) %>
    <h4>Related Posts</h4>
    <ul class="archive-list">
      <% related_posts(@page).each do |page| %>
        <li><span class="date fixed-width"><%= page.date.strftime('%Y-%m-%d') %> &raquo;</span> <a href="<%= page.html_path %>"><%= page['title'] %></a></li>      
      <% end %>
    </ul>
  <% end %>
</div>
