<% @index_pages.each do |page| %>
<div class="entry">
  <h2><a href="<%= page.html_path %>"><%= page['title'] %></a></h2>
  <p class="date"><%= page.natural_date %></p>
  <%= page.render_before_fold %> 
  <a href="<%= page.html_path %>">Continue Reading <i class="icon-angle-right"></i></a>
</div>
<% if page != @index_pages.last %>
<hr class="separator">
<% end %>
<% end %>
