<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//ssl.google-analytics.com" />
    <link rel="dns-prefetch" href="//d2s7foagexgnc2.cloudfront.net" />
    <link rel="dns-prefetch" href="//themes.googleusercontent.com" />
    <link rel="dns-prefetch" href="//js.stripe.com" />
    <link rel="dns-prefetch" href="//api.stripe.com" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="dns-prefetch" href="//themes.googleusercontent.com" />
    <link rel="dns-prefetch" href="//sales.petekeen.net" />
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>" media="screen" type="text/css" />
    <link rel="stylesheet" href="<%= stylesheet_path 'print' %>" media="print" type="text/css" />
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome-ie7.min.css" type="text/css" />
    <![endif]-->
    <link rel="alternate" type="application/atom+xml" href="/index.xml"> 
    <link rel="icon" href="<%= image_path('favicon.ico') %>"/>
    <link rel="apple-touch-icon" href="<%= image_path "bugsplat-48.png" %>" />
    <meta name="google-site-verification" content="1d8iB_zhFtV8iyPhFINmZYvlI-f2pBxlJaar6e9U42w" />
    <meta property="og:image" content="https://d2s7foagexgnc2.cloudfront.net/files/afe3b485fe17d72e13bd/me.png" />
    <meta property="og:url" content="<%= page_url %>" />
    <meta property="og:site_name" content="Pete Keen" />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="<%= title %>" />
    <% if @description %>
      <meta property="og:description" content="<%= @description %>" />
      <meta name="description" content="<%= @description %>" />
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:title" content="<%= title(false) %>" />
      <meta name="twitter:description" content="<%= @description %>" />
      <meta name="twitter:site" content="zrail" />
      <meta name="twitter:creator" content="zrail" />
      <% if @thumbnail %>
        <meta name="twitter:image" content="<%= @thumbnail %>" />
      <% end %>
    <% end %>
    <% if production? %>
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("e9f4d8ff804462ecc432e221befc36a2");</script><!-- end Mixpanel -->
    <script type="text/javascript">
    	var $mcGoal = {'settings':{'uuid':'4d4742d4ee66f8c62af747acb','dc':'us6'}};
    	(function() {
    		 var sp = document.createElement('script'); sp.type = 'text/javascript'; sp.async = true; sp.defer = true;
    		sp.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/downloads.mailchimp.com' : 'http://downloads.mailchimp.com') + '/js/goal.min.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sp, s);
    	})(); 
    </script>
    <% end %>
    <script src="//load.sumome.com/" data-sumo-site-id="82f6a2b014d64adbd1d72796806a0c2de56ac6ed8595f2da371885df0135bd41" async></script>
  </head>
  <body class="<%= @body_class %>">
    <div class="container container-narrow">
      <% unless @skip_masthead %>
      <div class="masthead">
        <span class="header">
		  <a href="/">Pete Keen</a>
		</span>
        <ul class="nav-links" id="nav-links">
          <li><a href="/essays">Essays</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/consulting">Consulting</a></li>
          <li><a href="/mastering-modern-payments">Mastering Modern Payments</a></li>
          <li><a href="/newsletter">Newsletter</a></li>
        </ul>
	  </div>
      <% end %>
	  <div id="content">
        <%= yield %>
	  </div>
      <% unless @skip_footer %>
      <footer>
        <ul class="nav-links">
		  <li>&copy; <a href="/">Pete Keen</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="https://github.com/peterkeen" data-original-title="Github" class="tip"><i class="fa fa-github"></i></a></li>
          <li><a href="http://www.linkedin.com/in/peterkeen" data-original-title="LinkedIn" class="tip"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="http://twitter.com/zrail" data-original-title="Twitter" class="tip"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://plus.google.com/+PeteKeen?rel=author" data-original-title="Google+" class="tip"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="mailto:pete@bugsplat.info" data-original-title="Email" class="tip"><i class="fa fa-envelope-o"></i></a></li>
          <li><a href="/index.xml" data-original-title="Subscribe to Feed" class="tip"><i class="fa fa-rss"></i></a></li>
        </ul>
      </footer>
      <% end %>
    </div>
    <script type="text/javascript" src="<%= javascript_path 'application' %>"></script>
    <% if production? %>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5663087-2']);
    _gaq.push(['_setDomainName', 'petekeen.net']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])",15000);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script type="text/javascript" src="https://tracker.petekeen.net/track.js" async></script>
    <script type="text/javascript">
      var _vq = _vq || [];
      setTimeout(function() {
        _vq.push({
          event: "15_seconds_read",
          referrer: document.referrer,
          location: window.location.href,
          useragent: navigator.userAgent,
        });
      }, 15000);
    </script>
    <script type="text/javascript">
      (function() {
        window._pa = window._pa || {};
        var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
        pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/52b08162fa50df42040000b9.js";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
      })();
    </script>
    <% end %>
  </body>
</html>
