<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="dns-prefetch" href="http://files.bugsplatcdn.com" />
    <%= relative_stylesheet :application %>
    <%= relative_stylesheet :print, 'print' %>
    <style type="text/css">
      <%= Pygments.css %>
    </style>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <%= relative_stylesheet(:ie7) %>
    <![endif]-->
    <link rel=alternate type=application/atom+xml href="/index.xml"> 
    <link rel=”shortcut icon” href=”favicon.ico” mce_href=”<%= url_for_asset('/favicon.ico') %>”/>
    <link rel="apple-touch-icon" href="/img/bugsplat-2.png">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <meta name="google-site-verification" content="4zpO6f2ykzho2VOviksAtUvJJ7_Q6wTWPHUTy7YRHag" />
  </head>
  <body>
    <div class="container container-narrow">
      <div class="masthead">
        <h1>
		  <a href="/">Pete Keen</a>
		</h1>
        <ul class="nav pull-right">
          <li>
            <form method="get" action="/search"><input type="search" results="5" autosave="petekeen_search" placeholder="Search" name="q"></input></form>
          </li>
        </ul>
        <ul class="nav-links">
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/mastering-modern-payments">Stripe eBook</a></li>
          <li><a href="/archive">Archive</a></li>
        </ul>
	  </div>
	  <div id="content">
        <%= yield %>
	  </div>
      <footer>
        <ul class="nav-links">
		  <li>&copy; <a href="/">Pete Keen</a></li>
          <li><a href="https://github.com/peterkeen" data-original-title="Github" class="tip"><i class="icon-github"></i></a></li>
          <li><a href="http://www.linkedin.com/in/peterkeen" data-original-title="LinkedIn" class="tip"><i class="icon-linkedin"></i></a></li>
          <li><a href="http://twitter.com/zrail" data-original-title="Twitter" class="tip"><i class="icon-twitter"></i></a></li>
          <li><a href="mailto:pete@petekeen.com" data-original-title="Email" class="tip"><i class="icon-envelope"></i></a></li>
          <li><a href="/index.xml" data-original-title="Subscribe to Feed" class="tip"><i class="icon-rss"></i></a></li>
        </ul>
      </footer>
    </div>
    <%= relative_javascript :application %>
    <% if ENV['RACK_ENV'] == 'production' %>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5663087-2']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])",15000);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <% end %>
    <script>
    $(document).ready(function () {
      hljs.tabReplace = '    ';
      hljs.initHighlightingOnLoad();
      $('.bbpTweet .timestamp a[title]').each(function (i, tstamp_node) {
          var date_parts = $(tstamp_node).attr('title').split(/ /);
          var new_date_parts = [date_parts[1], date_parts[2] + ",", date_parts[5], date_parts[3], date_parts[4]];
          var new_date_stamp = new_date_parts.join(' ');
          var tstamp = new Date(new_date_stamp);
          $(tstamp_node).text($.relatizeDate.timeAgoInWords(tstamp));
      });
    });
    </script>

  </body>
</html>
