<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%= relative_stylesheet :application %>
    <%= relative_stylesheet :print, 'print' %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <%= relative_stylesheet(:ie7) %>
    <![endif]-->
    <link rel=alternate type=application/atom+xml href="index.xml"> 
    <link rel=”shortcut icon” href=”favicon.ico” mce_href=”/favicon.ico”/>
    <link rel="apple-touch-icon" href="bugsplat-2.png">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <meta name="google-site-verification" content="TrfmxNXy4NvuQkn-ijPJ6suggiCgRHNVYEKfUT3oB7I" />
  </head>
  <body>

  <div id="container">
	<div id="header">
		<h1>
			<a href="/">Bugsplat</a>
		</h1>
		<h4>
    		by <a href="http://www.petekeen.com/">Pete Keen</a>
		</h4>

	</div>
	<div id="navigation">
	</div>
	<div id="content-container">
		<div id="aside">
            <ul id="links">
              <li><a href="/archive.html">Archive</a></li>
              <li><a href="/tags.html">All Tags</a></li>
              <hr class="mini-separator">
              <%= link_list %>
              <hr class="mini-separator">
              <li><a href="http://www.petekeen.com">Contact</a></li>
            </ul>
		</div>
		<div id="content">
          <%= yield %>
		</div>
		<div id="footer">
			&copy; <a href="http://www.petekeen.com/">Pete Keen</a> | <a href="colophon.html">Colophon</a> |     <a href="https://github.com/peterkeen" data-original-title="Github" class="tip"><span class="icon">&#xf09b;</span></a> 
    <a href="http://www.linkedin.com/in/peterkeen" data-original-title="LinkedIn" class="tip"><span class="icon">&#xf318;</span></a> 
    <a href="http://twitter.com/zrail" data-original-title="Twitter" class="tip"><span class="icon">&#xf309;</a>  
    <a href="mailto:pete@petekeen.com" data-original-title="Email" class="tip"><span class="icon">&#x2709;</a>
		</div>
	</div>
  </div>
  <%= relative_javascript :application %>
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5663087-2']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])",15000);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
  <script>
  $(document).ready(function () {
    hljs.tabReplace = '    ';
    hljs.initHighlightingOnLoad();
    $('.bbpTweet .timestamp a[title]').each(function (i, tstamp_node) {
        var date_parts = $(tstamp_node).attr('title').split(/ /);
        var new_date_parts = [date_parts[1], date_parts[2] + ",", date_parts[5], date_parts[3], date_parts[4]];
        var new_date_stamp = new_date_parts.join(' ');
        var tstamp = new Date(new_date_stamp);
        $(tstamp_node).text($.relatizeDate.timeAgoInWords(tstamp));
    });
  });
  </script>

  </body>
</html>
