<div id="paymentModal" class="modal hide fade" role="dialog">
  <div class="modal-body">
    <iframe src="#" style="zoom:0.6" width="99.6%" height="550" frameborder="0"></iframe>
  </div>
</div>

<h1 class="book">Mastering Modern Payments <small>Using Stripe with Rails</small></h1>

<% ab_test("headline_message") do |message| %>
<div class="question"><%= message %></div>
<% end %>

<p>
    My new guide <strong><em>Mastering Modern Payments: Using Stripe with Rails</em></strong> will teach you:
</p>

<div>
  <div style="float: right; height: 300px; margin-right: 5px; padding-top: 20px; text-align: center;">
    <img src="https://d2s7foagexgnc2.cloudfront.net/files/9e8485ea8977967c7fe7/paperbacklandscape-1.png" alt="Mastering Modern Payments Cover" /><br>
    <a class="btn btn-xlarge btn-success payment-button" style="margin-top: 3em" data-permalink="mastering-modern-payments-deluxe" href="/buy/mastering-modern-payments-deluxe<%= coupon_param %>">Buy Now for <%= price(59, false) %></a><br>
    <small>or read on for more options</small>
  </div>
<ul>
<li>Why a simple 10-minute integration <strong>isn't enough</strong>
<li>Dealing with security including PCI-DSS
<li>How and why to use <code>stripe.js</code> and <code>checkout.js</code>
<li>How to build custom payment forms
<li>How to set up Rails to keep an audit trail for you automatically
<li>How to handle subscription billing
<li>How to create marketplaces with Stripe Connect and Stripe Payouts
<li>How and why you should process payments using a background worker
<li>How to email your customers effectively
<li>How to test your Stripe integration
</ul>
</div>

<p style="margin-top: 2em">
Thousands of small businesses are using Stripe to process recurring or one-time payments for their Ruby on Rails SaaS offerings. Most of them, probably including yours, are using a simple integration copied from a "Stripe in 10 minutes" tutorial, but what these tutorials don't cover could cost you customer good will and  <strong>thousands of dollars</strong> in lost payments and lost opportunities.</p>

<div style="margin-bottom: 2em; margin-top: 2em;">
  <blockquote>
    <img class="thumbnail pull-right" src="https://d2s7foagexgnc2.cloudfront.net/files/2a34b4be575a85bdf517/matt_vanderpol.jpg" style="margin-left: 1em;" alt="Matt Vanderpol Portrait">
      Mastering Modern Payments is a fantastic resource for integrating Stripe billing with your Rails app. Pete does a great job of pulling together existing resources and blending them with his own experience to provide a clear, valuable guide for billing with Stripe.
      <br><br>
      Matt Vanderpol - founder QAtab
  </blockquote>
</div>

<div style="margin-top: 2em; margin-bottom: 2em">
<img style="float: right; margin-left: 20px; padding-top: 100px;" src="https://d2s7foagexgnc2.cloudfront.net/files/a8dab64c9e6402ee7b16/stripe_rails.png" alt="Stripe + Rails">
<h2>Table of Contents</h2>
<ol>
<li>Introduction
<li>The Simplest Stripe Integration
<li>Security and PCI Compliance
<li>Custom Payment Forms
<li>State and History (<a href="https://d2s7foagexgnc2.cloudfront.net/files/d9ed6537b33af1b9b867/mastering-modern-payments-sample-chapter.pdf">sample</a>)
<li>Handling Webhooks
<li>Processing Payments with Background Workers (<a href="/design-for-failure-processing-payments-with-a-background-worker">sample</a>)
<li>Subscriptions
<li>Marketplaces
<li>Additional Resources
</ol>
</div>

<div style="margin-top: 2em; margin-bottom: 2em">
<h2>About the Author</h2>
<p>
<img class="thumbnail" src="https://d2s7foagexgnc2.cloudfront.net/files/54919f94183b56488a1e/me-small.png" style="float:left; margin-right: 20px; height:100px;" alt="Pete Keen Portrait">
I'm Pete Keen. I've been a professional software developer for seven years and live in Ann Arbor, Michigan. I write a blog at petekeen.net with articles on topics ranging from Ruby and Rails to Perl and robotics and scattered book reviews.
</p>
</div>

<h2 id="packages">The Packages</h2>

<div class="well">
<h3>Guide + Code + Team License</h3>
<ul class="archive-list">
<li><span class="mmp-icon"><i class="icon-edit"></i></span> 116 page PDF with more than 100 code samples
<li><span class="mmp-icon"><i class="icon-download-alt"></i></span> ePub for Nook and Mobi for Kindle reading
<li><span class="mmp-icon"><i class="icon-html5"></i></span> Single-page HTML format for easy reference and searching
<li><span class="mmp-icon"><i class="icon-code"></i></span> The full source code for the Rails application I use to sell the guide
<li><span class="mmp-icon"><i class="icon-group"></i></span> License to share with up to 50 members of your team
<li><span class="mmp-icon"><i class="icon-bell"></i></span> Periodic updates to the guide and the code
</ul>
<span class="pull-right date">More below <i class="icon-arrow-down"></i></span>
<a class="btn btn-large btn-success payment-button" data-permalink="mastering-modern-payments-team<%= coupon_param %>" href="/buy/mastering-modern-payments-team<%= coupon_param %>">Buy Now for <%= price(299) %></a>
</div>

<div class="well highlight">
<h3>Guide + Code</h3>
<ul class="archive-list">
<li><span class="mmp-icon"><i class="icon-edit"></i></span> 116 page PDF with more than 100 code samples
<li><span class="mmp-icon"><i class="icon-download-alt"></i></span> ePub for Nook and Mobi for Kindle reading
<li><span class="mmp-icon"><i class="icon-html5"></i></span> Single-page HTML format for easy reference and searching
<li><span class="mmp-icon"><i class="icon-code"></i></span> The full source code for the Rails application I use to sell the guide
<li><span class="mmp-icon"><i class="icon-bell"></i></span> Periodic updates to the guide and the code
</ul>
<a class="btn btn-large btn-success payment-button" data-permalink="mastering-modern-payments-deluxe<%= coupon_param %>" href="/buy/mastering-modern-payments-deluxe<%= coupon_param %>">Buy Now for <%= price(59) %></a>
</div>

<div class="well">
<h3>Just the Guide</h3>
<ul class="archive-list">
<li><span class="mmp-icon"><i class="icon-edit"></i></span> 116 page PDF with more than 100 code samples
<li><span class="mmp-icon"><i class="icon-download-alt"></i></span> ePub for Nook and Mobi for Kindle reading
<li><span class="mmp-icon"><i class="icon-html5"></i></span> Single-page HTML format for easy reference and searching
<li><span class="mmp-icon"><i class="icon-bell"></i></span> Periodic updates to the guide
</ul>
<a class="btn btn-large btn-success payment-button" data-permalink="mastering-modern-payments<%= coupon_param %>" href="/buy/mastering-modern-payments<%= coupon_param %>">Buy Now for <%= price(29) %></a>
</div>

<h2>Questions</h2>

<h3>Which package should I buy?</h3>

<p>That depends on your budget. The guide by itself is still 100+ pages packed with code samples and tips that will get you on the right path, right away.</p>

<h3>Can I upgrade later on?</h3>

<p>Absolutely! Just reply to your confirmation email that you'd like to upgrade and I'll set it up for you.</p>

<h3>Can I pay with Paypal?</h3>

<p>No problem. Just send the amount that corresponds to the version you want to <code>paypal@petekeen.net</code>. I process these manually right now so please be patient.</p>

<h3>Will I get updates?</h3>

<p>Yes! You'll get updates to the guide and associated materials via email notifications.</p>

<h3>How do I find out more about you?</h3>

<p>I've been writing about software development and lots of other topics on my blog <a href="https://www.petekeen.net">petekeen.net</a> since 2009 and I tweet at <a href="https://twitter.com/zrail">@zrail</a>.</p>

<h3>What if I hate the guide?</h3>

<p>If you're not happy I'm not happy. Just reply to your receipt email within 30 days and you'll get a full refund</p>

<h3>I have another question!</h3>

<p>Email me at <a href="mailto:pete@petekeen.net">pete@petekeen.net</a> and I'll do my best to help you out.</p>

<div style="margin-bottom: 2em; margin-left: auto; margin-right: auto; width: 70%">
<blockquote class="twitter-tweet">
  <p>Highly recommend Mastering Modern Payments. It&#39;s going to save at least $3000+ <a href="http://t.co/jXbUm1OpMJ">http://t.co/jXbUm1OpMJ</a></p>&mdash; Gavin Miller (@gavingmiller) <a href="https://twitter.com/gavingmiller/statuses/370571990261694464">August 22, 2013</a>
</blockquote>
</div>

<h2>Choose a Package</h2>

<table class="table" style="font-size: 0.8em">
  <thead>
    <tr>
      <th>Guide + Code + Team License</th>
      <th class="highlight">Guide + Code</th>
      <th>Just the Guide</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>116 Page PDF</td>
      <td class="highlight">116 Page PDF</td>
      <td>116 Page PDF</td>
    </tr>
    <tr>
      <td>100+ Code Samples</td>
      <td class="highlight">100+ Code Samples</td>
      <td>100+ Code Samples</td>
    </tr>
    <tr>
      <td>ePub, Mobi, HTML</td>
      <td class="highlight">ePub, Mobi, HTML</td>
      <td>ePub, Mobi, HTML</td>
    </tr>
    <tr>
      <td>Example production application</td>
      <td class="highlight">Example production application</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>License for up to 50 copies</td>
      <td class="highlight">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a class="btn btn-large btn-success payment-button" data-permalink="mastering-modern-payments-team<%= coupon_param %>" href="/buy/mastering-modern-payments-team<%= coupon_param %>"><%= price(299) %></a></td>
      <td class="highlight"><a class="btn btn-large btn-success payment-button" data-permalink="mastering-modern-payments-deluxe" href="/buy/mastering-modern-payments-deluxe<%= coupon_param %>"><%= price(59) %></a></td>
      <td><a class="btn btn-large btn-success payment-button" data-permalink="mastering-modern-payments" href="/buy/mastering-modern-payments<%= coupon_param %>"><%= price(29) %></a></td>
    </tr>
  </tbody>
</table>

<div class="well" style="margin-top: 2em; margin-bottom: 2em; text-align: center;">
  <h3><small>Not quite ready to buy?<br>Sign up to get Rails and Stripe tips as well as guide update notifications (at most once per week)</small></h3>
  <a class="btn btn-primary btn-large" href="/signup">Sign Up for Updates</a>
</div>

<div style="margin-bottom: 2em; margin-top: 2em; margin-left: auto; margin-right: auto; width: 70%">
  <blockquote class="twitter-tweet"><p>Books which I wish there was a time machine for: Integrating <a href="https://twitter.com/stripe">@stripe</a> and Rails: <a href="http://t.co/T1NN4rIjb2">http://t.co/T1NN4rIjb2</a></p>&mdash; Patrick McKenzie (@patio11) <a href="https://twitter.com/patio11/statuses/368130142595325952">August 15, 2013</a></blockquote>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
