<h1 class="book big center">The Stripe Webhook Event Cheatsheet</h1>

<p>
  <%= external_link_tag "Stripe", "https://stripe.com" %> has an amazing set of webhooks for your application to listen for.
  Every event that happens on your Stripe account (or an account your application is connected to) blasts events to your webhook receiver.
</p>
<p>
  "But", you ask, "what events fire when?"
  Below you'll find some common scenarios and the events that Stripe will fire at your webhook receiver in response.
  Clicking on any event name will show a full example webhook.
  You can find full descriptions for these events in <%= external_link_tag "Stripe's awesome documentation", "http://stripe.com/docs/api#event_types" %>.
  For more background information on how Stripe processes a charge check out my blog post <%= external_link_tag "The Life of a Stripe Charge", "https://www.petekeen.net/life-of-a-stripe-charge" %>.
</p>

<hr>

<h2>Simple One-off Purchases with Charges</h2>

<h4>1. Customer successfully purchases a single one-off item</h4>
<p>The simplest possible starting point. A single one-off purchase.</p>
<ul>
  <li><%= partial :stripe_event, event_name: 'charge.succeeded', describes: 'Charge', example: 'simple_charge' %></li>
</ul>

<h4>2. Customer's card is declined</h4>
<p>This event also describes other failure modes, like an invalid expiration date or a failed CVC check if you have the option turned on to decline on a failed check.</p>
<ul>
  <li><%= partial :stripe_event, event_name: 'charge.failed', describes: 'Charge', example: 'simple_charge_declined' %></li>
</ul>

<h4>3. Customer successfully purchases and then requests a refund</h4>
<p>Typically you'll hit the refund button in Stripe's management interface to generate a refunded event.</p>
<ul>
  <li><%= partial :stripe_event, event_name: 'charge.succeeded', describes: 'Charge', example: 'simple_charge' %></li>
  <li><%= partial :stripe_event, event_name: 'charge.refunded', describes: 'Charge', example: 'simple_charge_refunded' %></li>
</ul>

<h4>4. Create a charge without capturing it, capture later</h4>
<p>
  Normally charges are <em>authorized</em> (check with the bank for available funds) and
  <em>captured</em> (actually request a fund transfer) at the same time. Stripe allows you to
  separate the two events. For example, if you're shipping goods that have a few days of lead
  time you'd want to authorize the charge up front but only capture it when you actually ship.
</p>
<ul>
  <li><%= partial :stripe_event, event_name: 'charge.succeeded', describes: 'Charge', example: 'authorization' %></li>
  <li><%= partial :stripe_event, event_name: 'charge.captured', describes: 'Charge', example: 'captured' %></li>
</ul>

<h4>5. Charge then modify description</h4>
<p>
  After making a charge you can update the `description` and `metadata` fields to add or alter application-specific information.
</p>
<ul>
  <li><%= partial :stripe_event, event_name: 'charge.succeeded', describes: 'Charge', example: 'charge_before_modification' %></li>
  <li><%= partial :stripe_event, event_name: 'charge.updated', describes: 'Charge', example: 'charge_after_modification' %></li>
</ul>

<h2>Disputes</h2>

<h4>6. Customer disputes a charge, you upload evidence</h4>
<p>
  Disputes happen. It's just a fact when you're charging people money. Stripe will of course send your application a series
  of webhooks as the dispute process plays out.
</p>
<ul>
  <li><%= partial :stripe_event, event_name: 'charge.dispute.created', describes: 'Dispute', example: 'dispute_created' %></li>
  <li><%= partial :stripe_event, event_name: 'charge.dispute.updated', describes: 'Dispute', example: 'dispute_updated' %></li>
  <li><%= partial :stripe_event, event_name: 'charge.dispute.closed', describes: 'Dispute', example: 'dispute_closed' %></li>
</ul>

<h2>Customers</h2>

<h4>7. Create customer and charge them immediately</h4>
<p>This is the same flow as a simple charge with the added benefit of being able to charge the customer again later.</p>
<ul>
  <li><%= partial :stripe_event, event_name: 'customer.created', describes: 'Customer', example: 'create_customer' %></li>
  <li><%= partial :stripe_event, event_name: 'charge.succeeded', describes: 'Charge', example: 'customer_charge' %></li>
</ul>

<h4>8. Create a customer with a plan without a trial</h4>
<p>Customer and subscriptions are where Stripe's webhook system really starts to shine. All of these events happen more or less simultaneously when you create a customer object and include the `plan_id` and `card` attributes.</p>
<ul>
  <li><%= partial :stripe_event, event_name: 'customer.created', describes: 'Customer', example: 'test1_create' %></li>
  <li><%= partial :stripe_event, event_name: 'customer.card.created', describes: 'Card', example: 'test1_add_card' %></li>
  <li><%= partial :stripe_event, event_name: 'customer.subscription.created', describes: 'Subscription', example: 'test1_add_subscription' %></li>
  <li><%= partial :stripe_event, event_name: 'invoice.created', describes: 'Invoice', example: 'test1_invoice' %></li>
  <li><%= partial :stripe_event, event_name: 'invoice.payment_succeeded', describes: 'Invoice', example: 'test1_invoice_paid' %></li>
  <li><%= partial :stripe_event, event_name: 'charge.succeeded', describes: 'Charge', example: 'test1_charge' %></li>
</ul>

<h4>9. Create a customer with a plan with a trial</h4>
<p></p>
<ul>
</ul>

<h4>11. Create a customer with a plan with a discount, no trial</h4>
<p>Discounted subscriptions are essentially the same as a normal subscription with one more event, `customer.discount.created`.</p>
<ul>
  <li><%= partial :stripe_event, event_name: 'customer.created', describes: 'Customer', example: 'test3_create' %></li>
  <li><%= partial :stripe_event, event_name: 'customer.card.created', describes: 'Card', example: 'test3_card' %></li>
  <li><%= partial :stripe_event, event_name: 'customer.subscription.created', describes: 'Subscription', example: 'test3_subscribed' %></li>
  <li><%= partial :stripe_event, event_name: 'customer.discount.created', describes: 'Discount', example: 'test3_discount' %></li>
  <li><%= partial :stripe_event, event_name: 'invoice.created', describes: 'Invoice', example: 'test3_invoice' %></li>
  <li><%= partial :stripe_event, event_name: 'invoice.payment_succeeded', describes: 'Invoice', example: 'test3_invoice_paid' %></li>
  <li><%= partial :stripe_event, event_name: 'charge.succeeded', describes: 'Charge', example: 'test3_charge' %></li>
</ul>

<h4>12. Invoice charge attempt fails</h4>
<p></p>

</ul>
  
<h4>13. Exisiting customer, new invoice with invoice items</h4>
<p></p>
<ul>
</ul>

<h4>14. Customer modifies existing card</h4>
<p>
  Stripe's Card API lets you update some details about a card without fully adding a new one.
  For example, a customer's address changes or they get a new expiration date.
</p>
<ul>
  <li><%= partial :stripe_event, event_name: 'customer.card.updated', describes: 'Card', example: 'modify_card' %></li>
</ul>

<h4>15. Customer changes to a different card</h4>
<p>
  Of course if a customer wants to change their card entirely they have that option. This is the set of events that happens
  when you assign to the customer's `card` attribute. The sequence of events is essentially the same if you add a card and
  change their default card manually, just without the delete event.
</p>
<ul>
  <li><%= partial :stripe_event, event_name: 'customer.card.created', describes: 'Card', example: 'add_new_card' %></li>
  <li><%= partial :stripe_event, event_name: 'customer.updated', describes: 'Customer', example: 'change_default_card' %></li>
  <li><%= partial :stripe_event, event_name: 'customer.card.deleted', describes: 'Card', example: 'delete_card' %></li>
</ul>

<hr>

<h2 class="center">If you liked this you should see what's in the book</h2>

<div class="row">
  <div class="span3">
    <div style="float: right; height: 200px; padding-top: 1em; padding-bottom: 2em; text-align: center; margin-left: 1.5em;">
      <a href="/mastering-modern-payments"><img src="https://d2s7foagexgnc2.cloudfront.net/files/9e8485ea8977967c7fe7/paperbacklandscape-1.png" alt="Mastering Modern Payments Cover" /></a>
    </div>
  </div>
  <div class="span4" style="margin-left: 3em">
    <p>
      Stop wasting time searching for answers on old blog posts and Q&A sites. Build a fast, reliable payment integration.
    </p>
    <p>Get a free chapter on how to make your app remember everything that happens to with your payments.</p>
  </div>
</div>

<div class="center" style="margin-bottom: 3em">
  <form action="/subscribe" method="POST" class="form form-inline" style="margin-top: 1em;">
    <input type="email" class="sans" style="font-size: 17.5px; height: 36px; width: 20em; line-height: 22px;" name="email" placeholder="you@example.com"></input>
    <input type="hidden" name="next" value="/confirmed"></input>
    <input class="btn btn-primary btn-large" type="submit" value="Get Your Free Chapter" />
  </form>
  <small>We won't send you spam. Unsubscribe at any time.</small>
</div>

