---
title: 'Handle Your Business - the Succinct Guide to Money and Finance for the Self-Employed'
id: hyb
body_class: book hyb
skip_masthead: true
skip_footer: true
alternate_links: cookbook business-process-cookbook
description: Everything you need to know to build and run your freelancing business.
thumbnail: https://d2s7foagexgnc2.cloudfront.net/files/d4de5b4d661c825d65d3/hyb_cover_3d_no_shadow.png
---

<%
  @hyb_book_url = "https://gumroad.com/l/topA"
  @hyb_contract_url = "https://gumroad.com/l/xqmZ"

  valid_coupons = {
    'launchday' => 0.30,
    'prelaunch' => 0.20,
    'icmbundle' => 0.25,
    'bfp' => 0.50,
    'biglaunch' => 0.20,
  }

  default_coupon = nil

  hyb_book_price = 29.0
  hyb_contract_price = 59.0

  @hyb_book_price = sprintf("$%0d", hyb_book_price)
  @hyb_contract_price = sprintf("$%0d", hyb_contract_price)

  coupon = @app.params[:cc] || default_coupon
  if !coupon.nil? && valid_coupons.has_key?(coupon)
    @hyb_book_url = @hyb_book_url + '/' + coupon
    @hyb_contract_url = @hyb_contract_url + '/' + coupon

    @hyb_book_price = sprintf("<strike>$%0d</strike> $%0.2f", hyb_book_price, hyb_book_price * (1 - valid_coupons[coupon]))
    @hyb_contract_price = sprintf("<strike>$%0d</strike> $%0.2f", hyb_contract_price, hyb_contract_price * (1 - valid_coupons[coupon]))
  end


%>

<h1>Do you run your consulting business<br>like a <em>real business?</em></h1>

<div style="float: right; clear: both; margin-left: 3em; margin-right: 2em; margin-top: 0">
  <img alt="Handle Your Business cover" src="https://d2s7foagexgnc2.cloudfront.net/files/d4de5b4d661c825d65d3/hyb_cover_3d_no_shadow.png" style="width: 10em;"></img>
</div>

There are lots of details to pay attention to when you run a small freelance or consulting business:

* You have to pay taxes. When? To whom? How much?
* You need health and business insurance. What kind? Where do you get it?
* You should set aside some money for rainy days and retirement. How? Where?
* You need to use a contract. What does that look like? What needs to be in it?

<br>

**Could you learn it all on your own?**

Your time is your product. **Handle Your Business** will show you the basics so you can ask your trusted advisors the right questions without wasting time and money.

I've read thousands of blog posts and hundreds of pages of IRS documents to learn how to set up and run my consulting practice. **Handle Your Business** distills all of that research into a compact, easy to read 57 page guide.

## Learn the basics for effectively running your business

<p><span class="chapter-title">Organizing</strong></span> gets you off on the right foot, explaining the different types of business entities you can choose, along with their tax implications.
<p><span class="chapter-title">Banking</strong></span> will teach you why you need a separate bank account, what your options are, and guides you into the best choice for you.
<p><span class="chapter-title">Contracts</strong></span> shows you what a contract looks like and how to structure yours to save the most money and time.
<p><span class="chapter-title">Invoicing</strong></span> is all about invoices: what to include and when to send them.
<p><span class="chapter-title">Bookkeeping</strong></span> walks you through a simple do-it-yourself bookkeeping example and then gives recommendations for services that do it for you.
<p><span class="chapter-title">Insurance</strong></span> shows you how to protect yourself from lawsuits by buying the right coverage.
<p><span class="chapter-title">Getting Paid</strong></span> gives a selection of options for how your clients can pay you, the ones you should allow, and the ones you shouldn't.
<p><span class="chapter-title">Tax Planning and Retiring</strong></span> goes through an overview of tax planning topics, including how to save money on your taxes by saving for your retirement.

## Want an even bigger jumpstart?

**The Contract Package** gives you everything in the book, plus a proven contract template. This is the exact contract template I use with my own clients.

This set of templates would cost **over $1,000** if you were to get it written from scratch. By starting with my templates, you'll shave hundreds off of your attorney bill.

<div style="margin-top: 4em; margin-bottom: 4em;">
  <div class="row">
    <div class="col-sm-12">
      <h2>Buy <em>Handle Your Business</em></h2>
    </div>
    <div class="col-sm-8">
    <p><strong><em>The Contract Package</em></strong> includes PDF, ePub, and MOBI formats of <strong>Handle Your Business</strong>, as well as the exact Word doc templates I use with my own clients.</p>
      <p><a href="<%= @hyb_contract_url %>?wanted=true" class="btn btn-lg btn-success" style="width: 100%">Get Started Today! (<%= @hyb_contract_price %>) </a></p>
      <p><small>Also available: <a href="<%= @hyb_book_url %>?wanted=true">buy just the book for <%= @hyb_book_price %></a></small></p>
    </div>
    <div class="col-sm-4 center">
      <a href="https://gumroad.com/l/xqmZ?wanted=true"><img src="https://d2s7foagexgnc2.cloudfront.net/files/d4de5b4d661c825d65d3/hyb_cover_3d_no_shadow.png" style="width: 8em; margin-bottom: 1em"></img></a>
    </div>
  </div>
</div>

## Frequently Asked Questions

**Is this just for US freelancers?**

Right now, yes. The advice in **Handle Your Business** is targeted at US-based businesses.

**Does this apply to non-software consultants?**

Yep! Anyone with a small business without much capital needs (i.e. the only equipment you need is a laptop) will get value out of this book.

**Why should I trust you?**

I'm neither an accountant nor an attorney and Handle Your Business isn't legal or accounting advice. Think of it instead like an introduction to a bunch of concepts that you'll want to talk about with your own professional advisors.

**Who are you, anyway?**

<img src="https://d2s7foagexgnc2.cloudfront.net/files/afe3b485fe17d72e13bd/me.png" class="thumbnail" style="width: 5em; float: right; clear: both">

Hi! I'm Pete Keen. I've been writing software since I was ten years old and dreaming up business ideas for almost as long. My consulting business has been wildly profitable since the very beginning.

**What if I don't get any value out of the book?**

Before buying, browse around on <a href="https://www.petekeen.net">my website</a> and read some of my work. If you like what you see there, you'll like **Handle Your Business**. That said, I stand behind my work. If you're unsatisified with the book just email me at `pete@petekeen.net` and ask for a refund within 30 days of purchase.

**I have another question!**

Just email me, `pete@petekeen.net`. I reply to almost everything.

<div style="margin-top: 4em; margin-bottom: 4em;">
  <div class="row">
    <div class="col-sm-12">
      <h2>Buy <em>Handle Your Business</em></h2>
    </div>
    <div class="col-sm-8">
    <p><strong><em>The Contract Package</em></strong> includes PDF, ePub, and MOBI formats of <strong>Handle Your Business</strong>, as well as the exact Word doc templates I use with my own clients.</p>
      <p><a href="<%= @hyb_contract_url %>?wanted=true" class="btn btn-lg btn-success" style="width: 100%">Get Started Today! (<%= @hyb_contract_price %>) </a></p>
      <p><small>Also available: <a href="<%= @hyb_book_url %>?wanted=true">buy just the book for <%= @hyb_book_price %></a></small></p>
    </div>
    <div class="col-sm-4 center">
      <a href="https://gumroad.com/l/xqmZ?wanted=true"><img src="https://d2s7foagexgnc2.cloudfront.net/files/d4de5b4d661c825d65d3/hyb_cover_3d_no_shadow.png" style="width: 8em; margin-bottom: 1em"></img></a>
    </div>
  </div>
</div>

<hr>

<div class="center">
  <small>
    Made in Michigan by <a href="https://www.petekeen.net">Pete Keen</a> <br>&copy; <a href="https://www.corastreetpress.com">Cora Street Press LLC</a>
  </small>
</div>
